.search-wrapper {
    margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.search-input {
  padding: 8px 14px;
  width: 220px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #4f46e5;
  box-shadow: 0px 0px 6px rgba(79, 70, 229, 0.3);
}
