.todo-container {
  width: 80%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

/* .todo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
} */

.todo-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.todo-table th {
  background: #4f46e5;
  color: white;
  padding: 12px;
}

.todo-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.delete-btn {
  padding: 6px 12px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #440d0d;
}
.ascending ,.descending{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: bisque;
}

/* black Theme  */
.app.dark .todo-table {
  background-color: #1e293b;
  color: white;
}

.app.dark .todo-table th {
  background-color: #020617;
}

.app.dark .todo-table td {
  border-color: #334155;
}
