/* Wrapper */
.todo-add-wrapper {
  display: flex;
  /* width: 100%; */
  /* border: 2px solid; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.inpt-field {
  padding: 10px 14px;
  width: 260px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.inpt-field:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 6px rgba(79, 70, 229, 0.3);
}

.add-btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background-color: #4f46e5;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background-color: #4338ca;

}
.error-msg{
  color: red;
}